@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cabin&family=DotGothic16&family=Oleo+Script+Swash+Caps:wght@700&family=Space+Mono&display=swap");


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login h1 {
  color: #e38abe;
  font-size: 5rem;
  animation: none;
  padding-bottom: 4%;
  /* margin-top: 0%; */
}
.login .snake-border {
  position: relative;
  width: auto;
  height: auto;
  padding: 3%;
}

.login .snake-border .border-piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-radius: 50%;
  animation: snake-border 1.5s ease-in forwards;
  pointer-events: none;
  box-shadow: 0 0 7px #e38abe;
}

@keyframes snake-border {
  0% {
    width: 0;
    height: 0;
    border-radius: 50%;
  }
  50% {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.login label {
  font-family: "Space Mono", sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 2%;
}

.login button {
  font-family: "Space Mono", sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 20px;
  cursor: pointer;
}

.login input {
  font-family: "DotGothic16", sans-serif;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 20px;
  margin-bottom: 16px;
  padding: 8px;
  /* border: 2px solid #ccc; */
  background-color: #f2c14e;
  border-radius: 4px;
  width: 100%;
  max-width: 320px;
  margin-top: 2%;
  /* color: white; */
}
.login input:focus {
  outline: none !important;
  border: 1px solid #e38abe;
  box-shadow: 0 0 10px #e38abe;
}

.login button[type="submit"] {
  background-color: #e38abe;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 1%;
}

.login button[type="submit"]:hover {
  background-color: #c46da0;
  /* color: #E38ABE; */
}

@media screen and (max-width: 600px) {
  .login h1 {
    font-size: 4rem;
    margin-left: 2%;
    margin-top: 2%;
  }

  .login label {
    font-size: 16px;
    margin-left: 2%;
  }

.login input {
    width:auto;
    margin-left: 2%;
    font-size: 16px;
}

.login button {
  margin-left: 2%;
}

.login .form-field-container {
  width: 80%;
  margin-right:0px;
}

}
