@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cabin&family=DotGothic16&family=Oleo+Script+Swash+Caps:wght@700&family=Space+Mono&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  color: #000;
  /* cursor: url("images/pedro-gnascal.png"), auto; */
  /* cursor: url("https://64.media.tumblr.com/bb3458eebc7a84ff744a190230810678/02abc6154633dcb5-a3/s64x64u_c1/2817fcbfbaa6473f612023cd360ed3755666734a.pnj"),
    auto; */
  /* cursor: url("https://bgtscc.net/download/file.php?avatar=16960_1566623298.gif"),
    auto; */
  /* cursor: url("https://www.dragonsfoot.org/forums/download/file.php?avatar=2254_1241646929.gif"),
    auto; */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

label {
  font-family: "Space Mono", sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 24px;
  margin:2%;
}

button {
  font-family: "Space Mono", sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 24px;
}

input {
  font-family: "DotGothic16", sans-serif;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 24px;
  margin-bottom: 16px;
  padding: 8px;
  /* border: 2px solid #ccc; */
  background-color: #F2C14E;
  border-radius: 4px;
  width: 100%;
  max-width: 320px;
  margin-top: 2%;
  /* color: white; */
}
input:focus {
  outline: none !important;
  border:1px solid #E38ABE;
  box-shadow: 0 0 10px #E38ABE;
}


button[type="submit"] {
  background-color: #e38abe;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 1%;
}

button[type="submit"]:hover {
  background-color: #c46da0;
  /* color: #E38ABE; */
}