/* Navigation bar */
#nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #73c59b;
  color: #fff;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

nav button {
  border: none;
  background-color: #8ae3af;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #73c59b;
}

/* Color scheme */
.btn {
  display: inline-block;
  background-color: #8ae3af;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: #69b78a;
}
.nav-link {
  color: #fff;
}

#nav-controls {
  display: inline-block;
  background-color: #e38abe;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}
#nav-controls:hover {
  background-color: #c46da0;
}
