/* Navigation bar */
.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #73c59b;
  color: #fff;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

nav button {
  border: none;
  background-color: #8ae3af;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #73c59b;
}

/* Color scheme */
.btn {
  display: inline-block;
  background-color: #8ae3af;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: #69b78a;
}
.nav-link {
  color: #fff;
}

#nav-controls {
  display: inline-block;
  background-color: #e38abe;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}
#nav-controls:hover {
  background-color: #c46da0;
}

.icon {
  max-width: 50%;
  max-height: 50%;
  padding-left: 10%;
}
/*media queires for responsive design*/

@media (max-width: 600px) {
  .small-nav {
    background-color: #69b78a;
    padding: 2%;
  }
  
  #menuToggle {
    display: block;
    position: relative;
    /* top: 40px; */
    left: 40px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: #e38abe;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    /* -webkit-touch-callout: none; */
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #f5defc;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  .small-nav button {
    margin-top: 20px;
    margin-left: -20px;
  }
}

@media (max-width: 600px) {
  .main-nav {
    display: none;
  }
}
@media (min-width: 601px) {
  .small-nav {
    display: none;
  }
}